* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul,li {
	list-style: none;
}
html,body {
	width: 100%;
}
body {
	font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
	background-color: #fff;
}
.g-wrp {

}
.g-section {
	
}
.g-top {
	display: flex;
	padding: 0 .1rem 0 .2rem;
	background-color: #fff;
	overflow: hidden;
	.left {
		flex: 1;
		display: flex;
		align-items: center;
		padding: .26rem 0;
		line-height: .6rem;
		.date {
			width: 2rem;
			font-size: 13px;
			color: #000000;
		}
		.title {
			flex: 1;
			font-size: 13px;
			color: #9FA0E7;
		}
	}
	.more {
		width: 1rem;
		height: .9rem;
		background: url(../img/m-ico-more.png) no-repeat center;
		background-size: 1rem .9rem;
	}
}
.g-header {
	background: url(../img/ico-line.png) repeat-x top center;
	background-size: 1.32rem .08rem;
	.slide1 {
		width: 7.5rem;
		height: 12.12rem;
		// padding-top: .08rem;
		overflow: hidden;
		background-image: url(../img/m-slide1-bg.jpg);
		// background-image: url(http://www.compileheart.com/omega_quintet/img/top/main_bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position-y: .08rem; 
		.g-section {
			height: 100%;
		}
		.img {
			position: absolute;
			width: 100%;
			z-index: -1;
		}
		.top {
			text-align: center;
			.logo {
				width: 3.02rem;
				height: 1.42rem;
				margin: .5rem auto .4rem;
			}
			.p1 {
				width: 5.3rem;
				height: 1.66rem;
			}
		}
		.bottom {
			.m-phone {
				position: relative;
				width: 6.58rem;
				height: 7.69rem;
				background: url(../img/m-phone-bg.png) no-repeat center;
				background-size: cover;
				video {
					position: absolute;
					width: 3.1rem;
					height: 5.5rem;
					right: .33rem;
    				top: 1.2rem;
				}
			}
		}
	}
}
.mask {
	display: none;
	.list {
		padding: 2px .1rem 0 .2rem;
		border-top: 1px dashed #ddd;
		.item {
			display: flex;
			align-items: center;
			padding: .26rem 0;
			line-height: .6rem;
			border-bottom: 1px dashed #ddd;
			span {
				width: 2rem;
				font-size: 13px;
				color: #000000;
			}
			a {
				flex: 1;
				font-size: 13px;
				color: #9FA0E7;
			}
			&:last-child {
				background-color: #fff;
				background-image: none;
				border-bottom: none;
			}
		}
	}
}
.g-wrp {
	.b1 {
		p {
			line-height: 32px;
			color: #fff;
			font-size: 23px;
			text-align: center;
		}
	}
	.b2 {
		p {
			line-height: 23px;
			color: #fff;
			font-size: 14px;
			text-align: center;
		}
	}
}
.g-item1 {
	position: relative;
	width: 7.5rem;
	height: 13.34rem;
	.bg {
		position: absolute;
		display: block;
		width: 7.5rem;
		height: 13.34rem;
		z-index: -1;
	}
	.main {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		.b1 {
			padding-top: .95rem;
			p {
				color: #F2D306;
			}
		}
		.b2 {
			margin-top: .65rem;
		}
	}
}
.g-item2 {
	padding: .4rem 0 .8rem 0;
	background-color: #000;
	.bg {
		display: block;
		width: 6.46rem;
		height: 7.16rem;
		margin: 0 auto;
	}
	.main {
		.b2 {
			margin-top: .4rem;
		}
	}
}
.g-item3 {
	padding: .8rem 0 .5rem 0;
	background-color: #B6B6B6;
	.main {
		.b2 {
			margin-top: .6rem;
		}
	}
}