* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul, li {
  list-style: none; }

html, body {
  width: 100%; }

body {
  font-family: "-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif";
  background-color: #fff; }

.g-section {
  margin: 0 auto;
  font-size: 0; }
  .g-section .item-title-wrp {
    display: inline-block;
    padding: .09rem .2rem;
    border: 1px solid #000000; }
  .g-section .item-title {
    line-height: 24px;
    color: #000000;
    font-size: 15px;
    font-weight: bold; }
  .g-section .item-des {
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #000000; }

.g-item1 {
  padding: .4rem 0 .55rem; }
  .g-item1 .g-section {
    height: 100%; }
  .g-item1 .item-title-wrp {
    margin: .4rem 0 .35rem; }
  .g-item1 .main {
    margin: 0 auto;
    text-align: center; }
    .g-item1 .main .logo {
      display: block;
      width: 5.17rem;
      margin: 0 auto; }
    .g-item1 .main .btn-group {
      margin-top: .5rem;
      margin-bottom: .2rem;
      font-size: .8rem; }
    .g-item1 .main .btn-book {
      display: inline-block;
      width: 2.4rem;
      height: .8rem;
      background: url(../img/m-btn-book.png) no-repeat center;
      background-size: 2.4rem .8rem;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
  .g-item1 .bg {
    position: relative;
    width: 7.5rem;
    height: 6.25rem;
    margin: 0 auto;
    background: url(../img/m-header-bg.png) no-repeat center;
    background-size: 7.5rem 6.25rem; }
    .g-item1 .bg .title {
      position: absolute;
      top: 1.7rem;
      left: .4rem;
      width: 5.1rem;
      height: 0.76rem;
      padding-left: .4rem;
      text-indent: 5px;
      font-size: 12px;
      color: #fff;
      line-height: 0.70rem;
      background: url(../img/m-header-bg-title.png) no-repeat center;
      background-size: 5.1rem 0.76rem;
      cursor: pointer;
      -webkit-animation: bounce 2s infinite linear;
      animation: bounce 2s infinite linear; }
    .g-item1 .bg .talk {
      overflow: hidden; }
      .g-item1 .bg .talk img {
        width: 5.35rem;
        float: right;
        margin-top: 1.3rem;
        margin-right: -1.1rem; }
  .g-item1 .arrow {
    width: 5.49rem;
    height: 3.87rem;
    margin: -.8rem auto 0;
    background: url(../img/header-arrow.png) no-repeat center;
    background-size: 5.49rem 3.87rem; }

.g-item2-0 {
  padding: .6rem 0 .5rem;
  background-color: #FAFAFA; }
  .g-item2-0 .g-section {
    text-align: center; }
  .g-item2-0 .item-title-wrp {
    margin-bottom: .2rem; }
  .g-item2-0 .main {
    overflow: hidden; }
    .g-item2-0 .main .group {
      margin-top: .4rem;
      padding: 0 .5rem;
      overflow: hidden; }
      .g-item2-0 .main .group .left {
        float: left; }
      .g-item2-0 .main .group .right {
        float: right; }
      .g-item2-0 .main .group img {
        width: 4.1rem; }
      .g-item2-0 .main .group p {
        margin: .3rem 0 .38rem;
        color: #000000;
        font-size: 20px;
        text-align: center; }
      .g-item2-0 .main .group ul {
        margin: 0 auto;
        overflow: hidden; }
      .g-item2-0 .main .group li {
        margin-bottom: .2rem;
        color: #000000;
        font-size: 14px; }

.g-item2 {
  padding-top: .6rem; }
  .g-item2 .g-section {
    text-align: center; }
  .g-item2 .item-des-wrp {
    margin-top: .6rem; }
    .g-item2 .item-des-wrp .bold {
      font-weight: bold;
      color: #661ABA; }
  .g-item2 .p1 {
    margin: .3rem 0;
    color: #661ABA;
    font-size: 24px; }
    .g-item2 .p1 span {
      font-size: 15px; }
  .g-item2 .list {
    padding: 0.4rem .2rem 0.25rem .2rem;
    overflow: hidden;
    margin: 0 auto; }
    .g-item2 .list li {
      float: left;
      width: 24%;
      cursor: pointer;
      margin-right: 1%;
      padding-bottom: .5rem; }
      .g-item2 .list li .img {
        width: 1.20rem;
        height: 1.50rem;
        margin: 0 auto;
        background-position: center bottom;
        background-repeat: no-repeat; }
      .g-item2 .list li .name {
        margin-top: .2rem;
        margin-bottom: .1rem;
        font-size: 11px;
        text-align: center; }
      .g-item2 .list li .desc {
        font-size: 12px;
        line-height: 12px;
        text-align: center; }
    .g-item2 .list .yun .img {
      background-image: url(../img/yun.png);
      background-size: 1.17rem 1.42rem; }
    .g-item2 .list .yun .name, .g-item2 .list .yun .desc {
      color: #E37727; }
    .g-item2 .list .tan .img {
      background-image: url(../img/tan.png);
      background-size: 1.01rem 1.35rem; }
    .g-item2 .list .tan .name, .g-item2 .list .tan .desc {
      color: #3C6D50; }
    .g-item2 .list .yan .img {
      background-image: url(../img/yan.png);
      background-size: 1.04rem 1.20rem; }
    .g-item2 .list .yan .name, .g-item2 .list .yan .desc {
      color: #FB2837; }
    .g-item2 .list .lei .img {
      background-image: url(../img/lei.png);
      background-size: .67rem 1.30rem; }
    .g-item2 .list .lei .name, .g-item2 .list .lei .desc {
      color: #008138; }
    .g-item2 .list .di .img {
      background-image: url(../img/di.png);
      background-size: 1.07rem 1.03rem; }
    .g-item2 .list .di .name, .g-item2 .list .di .desc {
      color: #055947; }
    .g-item2 .list .mai .img {
      background-image: url(../img/mai.png);
      background-size: 1.04rem 1.20rem; }
    .g-item2 .list .mai .name, .g-item2 .list .mai .desc {
      color: #C35786; }
    .g-item2 .list .liu .img {
      background-image: url(../img/liu.png);
      background-size: 1.14rem 1.15rem; }
    .g-item2 .list .liu .name, .g-item2 .list .liu .desc {
      color: #2C7060; }
    .g-item2 .list .feng .img {
      background-image: url(../img/feng.png);
      background-size: 1.23rem 1.14rem; }
    .g-item2 .list .feng .name, .g-item2 .list .feng .desc {
      color: #6D53BE; }

.g-item3 {
  background-color: #000;
  padding-top: .4rem;
  padding-bottom: .85rem; }
  .g-item3 .main {
    padding-top: .9rem;
    overflow: hidden; }
  .g-item3 .g-section {
    position: relative; }
  .g-item3 .item-title {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 6.5rem;
    padding: 4px 0;
    margin-top: -40px;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #fff;
    border: 2px solid #fff; }
  .g-item3 .left img {
    width: 4.5rem;
    display: block;
    margin: 0 auto; }
  .g-item3 .right .top {
    margin: 0 .5rem .4rem;
    padding: .3rem .3rem;
    border: 2px solid #FCDD00;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAoCAYAAAD+MdrbAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABd0RVh0Q3JlYXRpb24gVGltZQAyMDE4LjkuMjG1GNMoAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAASlJREFUSImt1r8uBUEUB+CPrCfZB5HchERyo1KRCKUnoKPjCdBIUIhCI3oKnVon8wQqDYmMP42VG5a9c/ecajIn883vJFOMnOyJrJx8hKJfYBg6PbLezMl2JAg7OdmKBGG3D9oGNuhmJAh7OdmIBGG/FO0Ci9FxwAZdiwThKCcrkeA0TrvQEnAUXY4CmzPHOVmMAmEGF23opOCfaB9wFJ2LAhv0MicDmMrJRwAKLxhGgnAXMXJT9xhGgfcYVLXHCPAOs1XtEaoAbL6qPTUbfRL+wvqAt20Yk418g2FVe25rlib8FysFr7uwEvAKC13YuOAVlqra6zg3d4FFWBd4Xorx97M5w2pVeyvBaE84MdYGnvTBfoKH7+/W+2D4/mMfvD6Y6gWNgHEYPgFyP3WlUcNP7QAAAABJRU5ErkJggg==) no-repeat 96% center;
    background-size: .2rem .4rem; }
    .g-item3 .right .top .name {
      padding-bottom: .2rem;
      font-size: 20px;
      color: #FCDD00; }
    .g-item3 .right .top .total {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 24px;
      color: #FDDF00;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAYAAAC58NwRAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABd0RVh0Q3JlYXRpb24gVGltZQAyMDE4LjkuMTjn6ThPAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAAUxJREFUKJGN0j9LlXEUB/DPfR4bmoRQCBriIQTpIs0OQbTVKISDIII4NTWIL0McJN+DL8AtioZo1Kgl4kdD4CDh5lDnuQ2eG7fbT/HAGc4533PO9/yhIlFsRLFRiw0q4Hv4nOaw7fyYjDeVIgeYTT2odZmsvhbFaErXqpSiuJtU7kzV+ZnUTqcp7VfA0rf/zwxRvMDKNWxXEmMQxTy+YO7aATnDwwZ7NwBLzF6DE1zcIOECJwOIonM52LMrwEd42XZKE8UmztvOc6xyub6UU6xm7DyKzQYfcRzFet87xCJepy72vcMo1nGcWKLYzqu+i2I4Lh/FMH2jKLbJS0fR4j2W8Ru7mfMKM/iAx20nJl9jIdvermznUdv5ysRrpGOnsqGdMfgvpbH8+mbQNN7gSbre9r2ntx4YVROS2n18SnOp7XyvdP0vaSuKrVrsDy2BfRS9ZB7cAAAAAElFTkSuQmCC) no-repeat right 1px;
      background-size: 12px 20px; }
  .g-item3 .right .btn {
    display: block;
    width: 6.5rem;
    height: .8rem;
    margin: 0 auto .6rem;
    background: url(../img/m-item3-buy.png) no-repeat center;
    background-size: 6.5rem .8rem; }
    .g-item3 .right .btn:active {
      background: url(../img/m-item3-buy-hover.png) no-repeat center;
      background-size: 6.5rem .8rem; }
  .g-item3 .right .status {
    color: #FCDD00;
    font-size: 14px; }
  .g-item3 .right .desc {
    padding: 0 .6rem 0 .9rem; }
    .g-item3 .right .desc li {
      text-align: left;
      font-size: 12px;
      line-height: 25px;
      list-style: disc;
      color: #fff; }
      .g-item3 .right .desc li .num {
        font-size: 14px;
        color: #FDDF00; }

.g-item5 {
  padding: .6rem 0 .5rem; }
  .g-item5 .g-section {
    text-align: center; }
  .g-item5 .item-title-wrp {
    margin-bottom: .2rem; }
  .g-item5 .main {
    overflow: hidden; }
    .g-item5 .main .group {
      margin-top: .4rem;
      padding: 0 .5rem;
      overflow: hidden; }
      .g-item5 .main .group .left {
        float: left;
        width: 50%; }
        .g-item5 .main .group .left p, .g-item5 .main .group .left li {
          text-align: right; }
      .g-item5 .main .group .right {
        float: right;
        width: 45%; }
        .g-item5 .main .group .right p, .g-item5 .main .group .right li {
          text-align: left; }
      .g-item5 .main .group img {
        width: 2.9rem; }
      .g-item5 .main .group p {
        margin: .3rem 0 .38rem;
        color: #000000;
        font-size: 15px;
        text-align: center; }
      .g-item5 .main .group ul {
        margin: 0 auto;
        overflow: hidden; }
      .g-item5 .main .group li {
        margin-bottom: .2rem;
        color: #000000;
        font-size: 12px; }

.g-item6 {
  padding-top: .6rem; }
  .g-item6 .g-section {
    text-align: center; }
  .g-item6 .item-title-wrp {
    padding: .09rem .5rem;
    margin-bottom: .4rem; }
  .g-item6 .center {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .g-item6 img {
    display: block;
    margin: 0 auto; }
  .g-item6 .group {
    position: relative;
    padding: .5rem 0;
    overflow: hidden; }
    .g-item6 .group:first-child .left img {
      width: 1.61rem; }
    .g-item6 .group:nth-child(2) .left img {
      width: 2.36rem; }
    .g-item6 .group:nth-child(3) .left img {
      width: 2.92rem; }
    .g-item6 .group:nth-child(4) .left img {
      width: 2.35rem; }
    .g-item6 .group .left {
      position: relative;
      float: left;
      width: 40%;
      padding-bottom: .5rem;
      text-align: right; }
      .g-item6 .group .left .p1 {
        font-size: 20px;
        color: #000; }
      .g-item6 .group .left .p2 {
        padding-top: .25rem;
        font-size: 14px;
        color: #000; }
      .g-item6 .group .left .center {
        right: 0; }
    .g-item6 .group .right {
      float: right;
      left: 0;
      width: 60%;
      text-align: left; }
      .g-item6 .group .right .p1 {
        font-size: 15px;
        color: #000; }
      .g-item6 .group .right .p2 {
        padding-top: .25rem;
        font-size: 12px;
        color: #000; }

.g-item7 {
  padding: .9rem 0 1rem 0;
  margin-left: .4rem; }
  .g-item7 img {
    float: left;
    width: .2rem; }
  .g-item7 .g-section {
    text-align: center; }
  .g-item7 .item-title-wrp {
    margin-left: -.9rem;
    margin-bottom: .7rem;
    padding: .09rem .5rem; }
  .g-item7 .group {
    margin-left: .4rem; }
  .g-item7 .item {
    overflow: hidden; }
    .g-item7 .item:nth-child(1) {
      margin-top: .3rem; }
    .g-item7 .item:nth-child(2) {
      margin-top: .5rem; }
    .g-item7 .item:nth-child(3) {
      margin-top: .5rem; }
    .g-item7 .item:nth-child(4) {
      margin-top: .5rem; }
    .g-item7 .item:nth-child(5) {
      margin-top: .5rem; }
    .g-item7 .item .date {
      float: left;
      margin-right: .2rem;
      font-weight: bold;
      color: #000000;
      font-size: 14px; }
    .g-item7 .item .title {
      float: left;
      color: #000000;
      font-size: 14px; }

.g-about {
  padding: .6rem 0 .9rem;
  text-align: center;
  background-color: #FAFAFA; }
  .g-about .section {
    margin-top: .85rem; }
  .g-about .item-title-wrp {
    padding: .09rem .5rem; }
  .g-about .group {
    margin-top: .8rem;
    padding: 0 .1rem 0 .6rem;
    overflow: hidden; }
    .g-about .group span {
      font-size: 12px; }
    .g-about .group .left {
      float: left;
      width: 30%; }
      .g-about .group .left img {
        width: 2rem; }
    .g-about .group .right {
      float: right;
      width: 70%; }
    .g-about .group img {
      width: 2.9rem; }
    .g-about .group ul {
      margin: 0 auto;
      padding-left: .4rem;
      overflow: hidden; }
    .g-about .group li {
      margin-top: .2rem;
      color: #000000;
      font-size: 12px;
      text-align: left; }
  .g-about .title {
    padding-left: .4rem;
    text-align: left; }
    .g-about .title .name {
      padding-top: .17rem;
      color: #000;
      font-size: 15px; }
      .g-about .title .name span {
        padding-left: .15rem;
        font-size: 14px; }

.g-item8 {
  padding: .7rem 0 1rem; }
  .g-item8 .g-section {
    text-align: center; }
  .g-item8 .item-title-wrp {
    padding: .09rem .5rem;
    margin-bottom: .5rem; }
  .g-item8 .main {
    overflow: hidden; }
    .g-item8 .main img {
      width: 2.8rem; }
    .g-item8 .main .p1 {
      padding-top: .4rem;
      padding-bottom: .3rem;
      color: #000000;
      font-size: 25px;
      text-align: center; }
    .g-item8 .main .p2 {
      padding-bottom: 8px;
      color: #000000;
      font-size: 14px;
      text-align: center; }
    .g-item8 .main .p3 {
      padding-bottom: .5rem;
      color: #000000;
      font-size: 18px;
      text-align: center; }

.g-ft {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #333;
  padding: .25rem;
  padding-bottom: 1.4rem;
  border-bottom: 1px solid #444444;
  overflow: hidden; }
  .g-ft .wechat-qrcode, .g-ft .weibo-qrcode {
    position: relative;
    width: 2rem;
    height: 2rem; }
    .g-ft .wechat-qrcode img, .g-ft .weibo-qrcode img {
      width: 2rem;
      height: 2rem; }
  .g-ft .wechat-qrcode a {
    position: absolute;
    right: -1.15rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1.15rem;
    height: .6rem;
    background: url(../img/m-wechat.png) no-repeat center;
    background-size: cover; }
  .g-ft .weibo-qrcode a {
    position: absolute;
    left: -1.15rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1.15rem;
    height: .6rem;
    background: url(../img/m-weibo.png) no-repeat center;
    background-size: cover; }
  .g-ft .icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    overflow: hidden; }
    .g-ft .icons .ovh {
      overflow: hidden; }
    .g-ft .icons .follow {
      color: #999999;
      font-size: 13px; }
    .g-ft .icons .long {
      color: #FFFFFF;
      font-size: 13px; }

.m-fixed {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 7.5rem;
  height: 1.18rem;
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  z-index: 99; }
  .m-fixed .logo {
    width: 1.84rem;
    height: .8rem;
    margin-left: .3rem;
    background: url(../img/m-logo-sm.png) no-repeat center;
    background-size: cover; }
  .m-fixed .download {
    width: 2.2rem;
    height: .8rem;
    margin-right: .3rem;
    background: url(../img/m-btn-download.png) no-repeat center;
    background-size: cover; }

.menu-layer {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 100;
  text-align: right;
  color: #656565; }

.menu-layer li a {
  padding: 0 22px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  color: #333; }

.menu-layer li i {
  width: 100%;
  height: 1px;
  background: #eeeeee; }

.menu-layer li b {
  width: 130px;
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  font-weight: normal;
  font-size: 15px;
  text-align: center; }

.menu-layer .active {
  background: #000; }

.menu-layer .active a {
  color: #fddf01; }

.closed-layer {
  width: 22px;
  height: 22px;
  display: inline-block;
  background: url(../img/closed_icon.jpg);
  background-size: 100% auto;
  margin: 22px 22px 22px 0;
  z-index: 101; }

.menu-layer li a {
  padding: 0 22px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center; }

.menu-layer li i {
  width: 100%;
  height: 1px;
  background: #eeeeee; }

.menu-layer li b {
  width: 130px;
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  font-weight: normal;
  font-size: 15px; }

.menu-layer .current {
  background: #C7A477; }

.menu-layer .current a {
  color: #fff; }

.translations {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px; }
  .translations a {
    padding: 12px;
    margin: 0 5px;
    font-size: 14px;
    color: #333;
    text-align: center;
    border-right: 1px solid #fff;
    cursor: pointer; }
    .translations a.active {
      color: #FCDC00;
      background: #000; }

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
