@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul, li {
  list-style: none; }

html, body {
  width: 100%; }

body {
  margin: 0 auto;
  background-color: #000;
  font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
  overflow-x: hidden; }

.g-hd {
  position: relative;
  overflow: hidden; }

.m-txtgroup {
  position: absolute;
  right: 0; }
  .m-txtgroup li {
    position: absolute;
    left: 100%;
    width: 400px;
    color: #fff;
    font-size: 15px; }
    .m-txtgroup li:nth-child(1) {
      -webkit-animation-delay: 0s;
      animation-delay: 0s; }
    .m-txtgroup li:nth-child(2) {
      -webkit-animation-delay: 2s;
      animation-delay: 2s; }
    .m-txtgroup li:nth-child(3) {
      -webkit-animation-delay: 4s;
      animation-delay: 4s; }
    .m-txtgroup li:nth-child(4) {
      -webkit-animation-delay: 6s;
      animation-delay: 6s; }
    .m-txtgroup li:nth-child(5) {
      -webkit-animation-delay: 8s;
      animation-delay: 8s; }
    .m-txtgroup li:nth-child(6) {
      width: 394px;
      height: 29px;
      background: url(../img/txt1.png) no-repeat center;
      background-size: cover;
      -webkit-animation-delay: 10s;
      animation-delay: 10s; }
  .m-txtgroup.move li {
    -webkit-animation-name: move;
    animation-name: move;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; }

@-webkit-keyframes move {
  0% { }
  100% {
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px); } }

@keyframes move {
  0% { }
  100% {
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px); } }

.g-sec {
  margin: 0 auto; }

.g-sec-1 {
  padding-top: 140px; }

.m-logo {
  width: 299px;
  height: 340px;
  margin: 0 auto;
  background: url(../img/logo1-m.png) no-repeat top center;
  background-size: 299px 149px; }

.m-logo-toggle {
  position: relative;
  width: 299px;
  height: 340px;
  margin: 0 auto;
  background: url(../img/logo2-m.png) no-repeat top center;
  background-size: 298px 150px; }
  .m-logo-toggle .water {
    position: absolute;
    bottom: 3px;
    left: 50%;
    width: 82px;
    height: 190px;
    margin-left: -35px;
    background-image: url(../img/water1-m.png);
    background-repeat: no-repeat;
    background-size: 163px 190px;
    -webkit-animation: skip 1s steps(2) infinite;
    animation: skip 1s steps(2) infinite; }

@-webkit-keyframes skip {
  0% {
    margin-left: -35px;
    background-position: 0 0; }
  100% {
    margin-left: -48px;
    background-position: -163px 0; } }

@keyframes skip {
  0% {
    margin-left: -35px;
    background-position: 0 0; }
  100% {
    margin-left: -48px;
    background-position: -163px 0; } }

.m-btngroup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .m-btngroup .u-btn {
    display: inline-block;
    width: 120px;
    height: 35px; }
  .m-btngroup .center {
    width: 71px;
    height: 45px;
    margin-top: 10px; }
  .m-btngroup .u-btn-team {
    background: url(../img/btn-team-m.png) no-repeat center;
    background-size: cover; }
  .m-btngroup .u-btn-bbs {
    background: url(../img/btn-bbs-m.png) no-repeat center;
    background-size: cover; }

.g-line {
  width: 1000px;
  height: 89px;
  margin: 80px auto 20px;
  background: url(../img/line-m.png) no-repeat center;
  background-size: cover; }

.g-line-m {
  width: 100%;
  max-width: 750px;
  max-height: 45px; }

.g-sec-2 {
  overflow: hidden; }

.m-phone {
  position: relative;
  width: 240px;
  height: 482px;
  margin: 50px auto 35px;
  background: url(../img/phone-bg.png) no-repeat center;
  background-size: cover; }
  .m-phone video, .m-phone .poster {
    position: absolute;
    top: 45px;
    left: 14px;
    width: 215px;
    height: 380px; }
  .m-phone .poster {
    background: url(../img/video1-bg.jpg) no-repeat center;
    background-size: cover;
    z-index: 9999; }

.m-des {
  padding: 0 10px 65px;
  text-align: center; }
  .m-des h2 {
    color: #FCDD00;
    font-size: 20px; }
  .m-des h3 {
    color: #FFFFFF;
    font-size: 10px;
    line-height: 20px; }
  .m-des .txt1 {
    margin-top: 17px;
    margin-bottom: 8px; }

.m-screen {
  position: relative;
  width: 340px;
  height: 283px;
  margin: 50px auto 55px;
  background: url(../img/screen-bg.png) no-repeat center;
  background-size: cover; }
  .m-screen video, .m-screen .poster {
    position: absolute;
    top: 27px;
    left: 14px;
    width: 307px;
    height: 167px; }
  .m-screen .poster {
    background: url(../img/video2-bg.jpg) no-repeat center;
    background-size: cover;
    z-index: 9999; }

.g-ft {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #333;
  padding: 12px;
  margin-bottom: 60px;
  border-bottom: 1px solid #444444;
  overflow: hidden; }
  .g-ft .wechat-qrcode, .g-ft .weibo-qrcode {
    width: 100px;
    height: 100px; }
  .g-ft .icons {
    text-align: center;
    overflow: hidden; }
    .g-ft .icons .ovh {
      overflow: hidden; }
    .g-ft .icons .follow {
      color: #999999;
      font-size: 13px; }
    .g-ft .icons .long {
      color: #FFFFFF;
      font: 13px; }
    .g-ft .icons .wechat, .g-ft .icons .weibo {
      display: inline-block;
      margin-top: 18px;
      margin-bottom: 16px;
      width: 30px;
      height: 30px; }
    .g-ft .icons .wechat {
      float: left;
      position: relative;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAXdEVYdENyZWF0aW9uIFRpbWUAMjAxOC40LjEwG1hooAAABHJJREFUWIXdmU1IJEcUx39+RAN2CM5C2g3EQ3VC1sA6GmIODgSEZiQgG2YvIcniYQMJCMGD4yHJQT3kNHPJRchFSEtivCgEL44FBkEvyy7MXHTB7lNI7IArwR5YlA05dE/T86FTM8YR8r9V9auq39SrVx9v2mhCpmm+BCQAE3gXuAO8BvQEJkXgL+AAeAJIYFdKed7oWG0Ngr0JTAOfALcaHOsYWAG+l1IeqjZSAjRN83UgA3wMdDQIVqkXwCowK6X8o55x3cFM0/wS+BV4D2i/IhxBH3eBL4QQzxzHeXyZ8YUzaJrmy8ASvjuvUyvAQynl81ofawKapvkq/qx9cI1gUe0A96SUf1d+qAIMZm6T1sGVtAOMV85krTW1ROvhCMZcqqwsC5IgIL5uFVEN3RVCHEUDJ3RxsJUcAK/cBFlEp8Cd0hYUdXGGm4cDnyFTKrRBeEIc0MAmHI/HSSaTxONxdF0HwHVd8vk8uVyOfD5/FcgX+LN42BlUTKvCGYbB7OwshmFUfdN1nWQySTKZxLZtMpkMtm03A9gRMH3VFhz8f6JwthqGQTabRdM0pVE8zyOdTjcLeQzcbse/ldSF0zSNhYWFEK7kykpF3VvZpkHdAhKd+FemukqlUuFaA5ifn8fzPAzDCN1dcqumaayvrwO+21OpFMvLy81Amh1CiDTwVj3LqakpYrFYWO7u7qa3t5eJiYmwLhaL4bouY2NjDAwMhPWaprGxsdEMYLHNNE0bEPUst7a2lHp0XZfNzc2yKNY0jb29vWYAnU5Ar2umIM/zsCyLQqHA/fv3GR8fD5dEoVCgr6+PXC6H53mNdKt3CCG+U7E0DIP+/v4L4WZmZhgeHg63oGhg6LrOyMgIY2Nj5PN5Tk5OVAG7lC+gl7nIsiwSiQSpVAqgapN2XRfXddF1nWw2WxZs9dSO/8Cpq1wux+7ublW953ns7e0xOTkJ+O5Mp9MUCoXQJpPJkMn4p5emaaGtgoodQojPgV4V60ePHhGLxcpOkf39fYrFIolEAvDdOTQ0xODgYGgTj8dJJBKh23VdZ3V1VWXI39uBp8o/p1jEsqyq+p6enrJyFK4EFHVrAxv30078d+uHqi1GR0dxXRfLsjg6OqKvr4/DQ+VXJFC9Ri/Rk078R/W3qi1s2+bBgwdhubTW8vk88XhcqY+1tTXV4WQ7sIt/MCspuvijmpubU7oULC4uqm7ax8Buh+M4/wgh3gDeV4WspfPzc7a3tzk7O8MwDLq6uqpsbNsmm82qdrkkpdxo+sJaT0KIMBhc1wVgcnISy7LC8iUKL6zRN8lPwKf/FeAV9bOU8jMof5PM4j9Yblqn+CxAxKWO45wKIZ4BE7VatVDTUsrfSoWyNec4zmMhxNv4yZ2b0IqU8ptoRa3LwkP8NESrtROMXaYqwCA3co/WQpaSR1UZrprXrSDLNI6fGrtureAnjaoyW6CQYQ3yNdeRdTjFz7L+cJlR3Y05CJwfgdvAO1w9y/oC+AX4KBqtF+n/kUSvVCv/hvgXivGb3lPxCYMAAAAASUVORK5CYII=) no-repeat center;
      background-size: cover; }
      .g-ft .icons .wechat:hover img {
        width: 120px;
        height: 120px; }
      .g-ft .icons .wechat img {
        position: absolute;
        bottom: 0;
        left: -130px;
        width: 0;
        height: 0; }
    .g-ft .icons .weibo {
      float: right;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAXdEVYdENyZWF0aW9uIFRpbWUAMjAxOC40LjEwG1hooAAABK1JREFUWIXdmU9o23YUxz9OMhizxiCDqdlRCqQEakHZSYZCQCiXtCO5LNuwGQ3MbdjopT50F8e3gHsZGZhdAku9ZTvEht2W/BgjoFxCC/YphcrHLRq0MCLD6Oi2g/7McuxYSpsE9j1Z+r2n31ff33s/vd9zilPAMIzXgCxgAFeBy8A7QNo36QC/AwfAI0AAlhDir6RzpRISmwTuAB8Cbyec6ymwCXwphHgS1ykWQcMw3gUqwAfAaEJivXgB/AAUhRC/DjMeOplhGAXgR+A9YOQlyeE/4wrwqaIoz9rt9sOTjAcqaBjG68A63nKeJTaBm0KIP/sN9iVoGMZbeKpdO0Ni3dgFbggh/ugdOEbQV+4nzo9cgF1gtlfJfjG1zvmTw59zvfdmJEn8hLh3Xoz64IqiKIfdiRMusb+VHABvXgSzLhwBl4MtqHuJK1w8OfA4VIKLFIRfiANefhOOQJZlyuUyqqriOA7NZpNqtYrrusNcX+Cp+CRQ8M6rJhfAdV2azSau62KaJg8ePEBV1WFuoz4nUv6H/zeSf1sjUFUVSZKwbXugQplMhnK5DEAulxum5FNgYlRRlGvA7dMSy+fzFItFFhcXMU2T8fFx9vb2wvH5+XnW1tbQNI29vT0sy+L69es8f/6cVqt10qPfAH4ewSuZEkPTNGq1GrlcDlmWw/vpdDpi12g0KBQKSJJEsVik1Wph2zazs7NxpjHG8Oq5RFhYWOD27f6i27bN8vIymUwmjLVqtUqpVKJWq6GqKq7rxolDgKtjwFQScrlcjnw+P3C835iu69TrdYAw7mJkMsDUCCAPNfOhadqJ5AbBcRwACoVC+LvZbMZxlcf4r0wfimKxeGzira0tbNuOBHwmkyGbzWKaJpIkkU6nMU0zTJ5KpRJXwXTKMIx/4liaphkSdF2XjY0NGo0GmqahaRoAh4eHbG9vhz7dG3Xgd+vWrVDFOBjDO+AMVdE0zfD33bt3sW2bfD5PLpeL2Om6zsrKCuApXK1WuX//PgCSJKHrOo1GIy6/zggQ63UClRqNBrZto6pqhJxlWbiuSzabjWRob6x1Op245ACcEeBxEg/LsgBPqeC6VCqRSqXCybv3wuDFwFviwD8mHo/gnVuHIlAiUMe2bQB2dnZwHAdd15FlGdd1wzFJklheXg6fUa/Xkyr4aFRRlL+BT4ZZuq7LzMwM09PT7O/v02q1uHTpEktLS8zNzYU2lUqFdruNLMusrq6iKEr4gkEsJkApUbEQbNKdTod6vY5lWaTTaTRNC8upyclJdF2PJJVlWVQqlaTqPQUmgnpwDfgsjlcmkyGfz0diaxAcx2FjYyOy9STAV0KIz09dsCqKQjabRdO0sNQCLzZt28ayrEhVkxBhwdp9JvkW+Oi0T3zF+E4I8TFEzyRFvAPLReMIjwvQtaTtdvtIUZRnwNxFsOrCHSHEL8FFJOba7fZDRVGm8Jo7F4FNIcQX3Tf6dRZu4rUhzhu7/twRHCPo90ZucL4kg+bRsQ5X336f32WaxWuNnTU28ZpGxzpbEKPD6vdrzqLrcITXZf36JKOhG7OfON8AE8A0L99lfQF8D7zfna2D8P9oovfiPP+G+BdQbt2xLXsT2gAAAABJRU5ErkJggg==) no-repeat center;
      background-size: cover; }

.m-fixed {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px 0;
  background-color: #333333;
  z-index: 10001; }
  .m-fixed .logo {
    float: left;
    width: 92px;
    height: 40px;
    margin-left: 17px;
    background: url(../img/logo.png) no-repeat center;
    background-size: cover; }
  .m-fixed .download {
    float: right;
    width: 110px;
    height: 40px;
    margin-right: 17px;
    background: url(../img/btn-download.png) no-repeat center;
    background-size: cover; }
